
.bordereau {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}
.download {
  padding: 20px;
  margin-bottom: 0px;
}
.download h2 {
  margin-top: 0;
}
.download p {
  margin: 5px 0;
}
td, th, table {
  border: 1px solid black !important;
}
