<div class="blank-layout-container justify-content-center align-items-center bg-light-primary" style="background-color: white !important;">
  <div class="grid grid-cols-1 md:grid-cols-2 h-screen ">
    <!-- First column (image) -->
    <div class="hidden sm:flex items-center justify-center h-full">
      <img src="./assets/images/illus.png" class="max-h-full max-w-full" />
    </div>

    <!-- Second column (form) -->
     <div class="flex flex-col justify-center items-center bg-light-primary" style="background-color: white !important;">
          <div class="text-left mb-8">
            <div class="branding" style="padding-left: 0px !important;">

              <a href="/">
                <img
                  src="./assets/images/logos/logo.png"
                  class="align-middle m-2 h-16 w-auto "
                  alt="logo"
                />
              </a>


            </div>
          </div>

          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Nom d'utilisateur</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="username" />
            </mat-form-field>

            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Mot de passe</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" />
            </mat-form-field>
            <div *ngIf="error" class="flex items-center px-4 mb-4 py-4 text-sm text-red-800 rounded-lg bg-red-50 "
              role="alert">
              <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
              </svg>
              <span class="sr-only">Info</span>
              <div>
                Identifiants invalides.
              </div>
            </div>
            <!--
            <div class="d-flex align-items-center m-b-12">
              <mat-checkbox color="primary">Remember this Device</mat-checkbox>
              <a [routerLink]="['/']" class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14">Forgot Password ?</a>
            </div>
-->
<button type="submit" class="w-100" mat-flat-button color="primary">
        <div  class="w-100 flex flex-row items-center justify-center space-x-2">
          <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="16" color="accent"
          class="self-center"></mat-progress-spinner>
<div>Se connecter</div>
        </div>

</button>


          </form>



        </div>

  </div>
</div>
